@model WebDemo.Models.QuizModel
@{
    ViewData["Title"] = "SolveQuiz";
}

<form class="container mt-5" action="/home/mainscreen" method="post">
    <div class="d-flex justify-content-center row">
        <div class="col-md-10 col-lg-10">
            <h1 class="mt-1 ml-2">
                @ViewBag.quiz.Title
            </h1>
            <h5 class="mt-1 ml-2">
                @ViewBag.quiz.Text
            </h5>
            <div class="border">
                <div class="question bg-white p-3 border-bottom">
                    <div class="d-flex flex-row align-items-center question-title">
                        <h3 class="text-danger">Q.</h3>
                        <h5 class="mt-1 ml-2">
                            @ViewBag.quiz.Question1
                        </h5>
                    </div>
                    <input type="text" class="form-control" placeholder="Enter Choice" asp-for="Choice1_1">
                    <input type="text" class="form-control" placeholder="Enter Choice" asp-for="Choice1_2">
                    <input type="text" class="form-control" placeholder="Enter Choice" asp-for="Choice1_3">
                    <input type="text" class="form-control" placeholder="Enter Choice" asp-for="Choice1_4">
                </div>

            </div>
            <div class="border">
                <div class="question bg-white p-3 border-bottom">
                    <div class="d-flex flex-row align-items-center question-title">
                        <h3 class="text-danger">Q.</h3>
                        <h5 class="mt-1 ml-2">
                            <input type="text" class="form-control" placeholder="Enter question" asp-for="Question2">
                        </h5>
                    </div>
                    <input type="text" class="form-control" placeholder="Enter Choice" asp-for="Choice2_1">
                    <input type="text" class="form-control" placeholder="Enter Choice" asp-for="Choice2_2">
                    <input type="text" class="form-control" placeholder="Enter Choice" asp-for="Choice2_3">
                    <input type="text" class="form-control" placeholder="Enter Choice" asp-for="Choice2_4">
                </div>
            </div>
            <div class="border">
                <div class="question bg-white p-3 border-bottom">
                    <div class="d-flex flex-row align-items-center question-title">
                        <h3 class="text-danger">Q.</h3>
                        <h5 class="mt-1 ml-2">
                            <input type="text" class="form-control" placeholder="Enter question" asp-for="Question3">
                        </h5>
                    </div>
                    <input type="text" class="form-control" placeholder="Enter Choice" asp-for="Choice3_1">
                    <input type="text" class="form-control" placeholder="Enter Choice" asp-for="Choice3_2">
                    <input type="text" class="form-control" placeholder="Enter Choice" asp-for="Choice3_3">
                    <input type="text" class="form-control" placeholder="Enter Choice" asp-for="Choice3_4">
                </div>
            </div>
            <div class="border">
                <div class="question bg-white p-3 border-bottom">
                    <div class="d-flex flex-row align-items-center question-title">
                        <h3 class="text-danger">Q.</h3>
                        <h5 class="mt-1 ml-2">
                            <input type="text" class="form-control" placeholder="Enter question" asp-for="Question4">
                        </h5>
                    </div>
                    <input type="text" class="form-control" placeholder="Enter Choice" asp-for="Choice4_1">
                    <input type="text" class="form-control" placeholder="Enter Choice" asp-for="Choice4_2">
                    <input type="text" class="form-control" placeholder="Enter Choice" asp-for="Choice4_3">
                    <input type="text" class="form-control" placeholder="Enter Choice" asp-for="Choice4_4">
                </div>
            </div>
        </div>
    </div>

    <input type="hidden" class="form-control" asp-for="Date" value="@DateTime.Now">
    <input type="hidden" class="form-control" asp-for="Completed" value="@false">

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<div class="container">
    <form class="job-box d-md-flex align-items-center justify-content-between mb-30" action="/home/QuizList">
        <button type="submit" class="btn btn-primary">See All Quizzes</button>
    </form>
</div>

